#numeros {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}

.botao {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
    font-size: 50px
}

#telinha {
    background-color: white;
    width: 300px;
    height: 100px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

h1 {
    padding-right: 10px;
    font-size: 50px;
    color: black;
}

.botao-decimal {
    font-size: 50 ;
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    margin-top: 100px;
}